body {
    background-color: #F4F7F5;
    color: #08090A;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.logo {
    max-width: 100px;
    min-width: 60px;
    padding: 10px;
}
.page-header {
    background-color:#BA7BA1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
}
.navigation a {
    color: #08090A;
    text-decoration: none;
    padding: 15px;
    font-size: 120%;
}
.navigation {
    display: flex;
}
.nav-button {
    background-color: transparent;
    border-color: transparent;
}

.banner {
    background-color: #5b0881;
    color: #f5efef;
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    justify-content: center;
    align-items: center;
}
.banner h2 {
    font-size: 4rem;
    text-align: center;
}
.banner button {
    background-color: yellow;
    padding: 0.8em;
    min-width: 12em;
    border: 1px white solid;
    border-radius: 5pt;
}
.card-container {
    display: flex;
    flex-direction: row;
    gap: 10em;
}
.card img {
    max-width: 100%;
    aspect-ratio: 4/3;
    object-fit: cover;
    object-position: center;
}
.card-content {
    padding: 1em;
}
.card {
    border: 1px solid #a4a4a4;
    border-radius: 8pt;
    overflow: hidden;
}
.card button {
    min-width: 100%;
    background-color: rgb(140, 140, 218);
    padding: 0.5em;
    border: 1px solid #666666;
}
.content {
    margin-top: 3em;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 3em;
}